<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Sign Up{% endblock %}</title>
<link rel="stylesheet" href="{% static 'sign_up.css' %}" />
</head>
<body>
  <div>
{% block message%}
  {% for message in messages %}
    <p style="color: red">{{message}}</p>
  {% endfor %} 
{% endblock %}
  <div class="form">
    <h2>{% block sign %}Sign Up{% endblock%}</h2>
    <form method="POST">
      {% csrf_token %}
      <p>Username:</p>
      <input type="text" name="username" placeholder="username" required="True"/>
      {% block email %}<p>Email:</p>
      <input type="email" name="email" placeholder="123@example.com" required="True"/>{% endblock %}
      <p>Password:</p>
      <input type="password" name="password" required="True"/>
      <p style="font-weight: normal;">{% block account %}Have an account? Log in <a href="/login">Here</a>{% endblock %}</p>
      <div>
      <p><button type="submit">{% block button %}Sign Up{% endblock %}</button></p></div>
    </form>
  </div>
</div>
</body>
</html>
